
MathTestGenerator/obj/*
MathTestGenerator/bin/*
MathSkillUnitTest/obj/*
MathSkillUnitTest/bin/*
MathEquationApi/obj/*
MathEquationApi/bin/*
MathProblemApi/bin/*
MathProblemApi/obj/*
MathTestApi/bin/*
MathTestApi/obj/*